{% extends 'base.html.twig' %}

{% block title %}Activité QCM{% endblock %}

{% block body %}


    <div class="jumbotron">
        <h1>{{ activities.name }}</h1>
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    </div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-lg-7 col-md-7">
                <form action="{{ path('verification_qcm', {'id' : activities.id}) }}" method="post">
                    {% dump(activities.question) %}
                    {% for question in activities.question %}
                        {% if is_granted('ROLE_PROFESSEUR') %}
                            <a href="{{ path('activity_questions_edit', {'id' : activities.id, 'slug' : question.id}) }}" class="btn btn-secondary">Modifier</a>
                            <a href="{{ path('activity_question_delete', {'id' : activities.id, 'slug' : question.id}) }}" class="btn btn-danger">Supprimer</a>
                        {% endif %}
                        <h2>{{ question.question }}</h2>
                        {% if question.fileName %}
                            <img src="{{ vich_uploader_asset(question, 'imageFile') }}" alt="card-question" style="width: 80%; height: auto;">
                        {% endif %}

                        <div class="col-6 col-lg-6 col-md-6">
                        {% for test in tab | shuffle() %}
                            {% if test == 'question.bonneReponse1' %}
                                {% if (question.bonneReponse1) %}
                                    <div class="form-check p-2">
                                        <label class="form-check-label">
                                            <input class="form-check-label" type="checkbox" name="{{ '0:'~question.question }}" value="{{ question.bonneReponse1 }}">{{ question.bonneReponse1 }}<br>
                                        </label>
                                    </div>
                                {% endif %}
                            {% elseif test == 'question.bonneReponse2' %}
                                {% if (question.bonneReponse2) %}
                                    <div class="form-check p-2">
                                        <label class="form-check-label">
                                            <input type="checkbox" name="{{ '1:'~question.question }}" value="{{ question.bonneReponse2 }}">{{ question.bonneReponse2 }}
                                        </label>
                                    </div>
                                {% endif %}
                            {% elseif test == 'question.bonneReponse3' %}
                                {% if (question.bonneReponse3) %}
                                    <div class="form-check p-2">
                                        <label class="form-check-label">
                                            <input type="checkbox" name="{{ '2:'~question.question }}" value="{{ question.bonneReponse3 }}">{{ question.bonneReponse3 }}<br>
                                        </label>
                                    </div>
                                {% endif %}
                            {% elseif test == 'question.mauvaiseReponse1' %}
                                {% if (question.mauvaiseReponse1) %}
                                    <div class="form-check p-2">
                                        <label class="form-check-label">
                                            <input type="checkbox" name="{{ '3:'~question.question }}" value="{{ question.mauvaiseReponse1 }}">{{ question.mauvaiseReponse1 }}<br>
                                        </label>
                                    </div>
                                {% endif %}
                            {% elseif test == 'question.mauvaiseReponse2' %}
                                {% if (question.mauvaiseReponse2) %}
                                    <div class="form-check p-2">
                                        <label class="form-check-label">
                                            <input type="checkbox" name="{{ '4:'~question.question }}" value="{{ question.mauvaiseReponse2 }}">{{ question.mauvaiseReponse2 }}<br>
                                        </label>
                                    </div>
                                {% endif %}
                            {% elseif test == 'question.mauvaiseReponse3' %}
                                {% if (question.mauvaiseReponse3) %}
                                    <div class="form-check p-2">
                                        <label class="form-check-label">
                                            <input type="checkbox" name="{{ '5:'~question.question }}" value="{{ question.mauvaiseReponse3 }}">{{ question.mauvaiseReponse3 }}<br>
                                        </label>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                        </div>
                    {% endfor %}

                    <button type="submit" class="btn btn-success m-1">Envoyer vos réponses</button>

                </form>

                {% if is_granted('ROLE_PROFESSEUR') %}
                    <a href="{{ path('activity_questions_new', {'id' : activities.id}) }}" class="btn btn-info m-1">Ajouter une question</a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}